// Mission Statement Hero
.home-hero {
  h1 {
    margin-bottom: 1.5em;
    font-size: 2.4em;
  }
  img {
    height: 400px;
  }
}

// Top Client Logos
.home-clients {
  padding: 4em 0;

  h2 {
    padding-bottom: 1em;
    text-align: center;
  }

  ul {
    @include outer-container;

    li {
      @include span-columns(2);
      @extend .logo-placeholder;
    }
  }

  img {
    opacity: 0.3;
    width: 100%;
  }
}

// Featured Case Study / Post / Event
.home-features {
  .image-gradient-dynamic {
    margin-bottom: 2em;

    > img {
      height: 400px;
    }
  }
}

.home-latest {
  padding-top: 1em;

  h2 {
    padding-bottom: 1em;
    text-align: center;
  }
}