// Work
.work-featured_casestudies {
  .image-gradient-dynamic {
    display: block;
    margin-bottom: 2em;
  }
}

.work-secondary_casestudies {
  @include outer-container;
  
  .image-gradient-dynamic {
    display: block;
    @include span-columns(3);
    margin-bottom: 2em;
  }
  .row {
    @include row();
  }
}