%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a{:href => "javascript:void(0)"} Work
        %li.nav-link
          %a{:href => "javascript:void(0)"} Approach
        %li.nav-link
          %a{:href => "javascript:void(0)"} Company
        %li.nav-link
          %a{:href => "javascript:void(0)"} Blog
        %li.nav-link
          %a{:href => "javascript:void(0)"} Contact