%header.navigation{:role => "banner"}
  .navigation-wrapper
    .container
      %a.logo{:href => "/"}
        %img{:alt => "Logo Image", :src => "/assets/images/slate-logo.svg"}
      %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
      %nav{:role => "navigation"}
        %ul#js-navigation-menu.navigation-menu.show
          %li.nav-link
            %a{:href => "/"} Home
          %li.nav-link
            %a{:href => "/about"} About
          %li.nav-link
            %a{:href => "/work"} Work
          %li.nav-link
            %a{:href => "/contact"} Contact
          %li.nav-link
            %a{:href => "javascript:void(0)"} Blog