---
title: Slate Studio - Case Study
---

.casestudy-hero
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .bottom-copy
        .logo-placeholder
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %a Case Studies
          %span /
          %a Ipsum Dolor
          %span /
          %a Sit Amet