---
title: Slate Studio
---

.home-hero
  %h1 We create digital experiences that connect the hearts of brands to the hearts of their consumers.
  .image-gradient-dynamic
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .copy
        %p Middle aged person in a living room on a couch with an iPad in front of a TV

.home-process
  %h2 Our Process
  %p Through iterative prototyping and a refined process, we accelerate innovation for entertainment and technology companies.
  %a Learn More &raquo;

.home-work
  .side-image
    .images-wrapper
    .side-image-content
      %h1 Tribeca Shortlist
      %p Physical computing cortado affordances pivot personas pitch deck ship it over the top fund pitch deck minimum.

  .side-image
    .images-wrapper
    .side-image-content
      %h1 Project Greenlight
      %p Physical computing cortado affordances pivot personas pitch deck ship it over the top fund pitch deck minimum.

  .side-image
    .images-wrapper
    .side-image-content
      %h1 Dunn Edwards
      %p Physical computing cortado affordances pivot personas pitch deck ship it over the top fund pitch deck minimum.