---
title: Slate Studio - About Us
---

.about-intro
  // Hero
  .image-gradient-dynamic
    %img{:alt => "", :src => "/assets/images/about-hero.jpg"}
    .overlay
    .copy
      %h3 About Us
      %h1 Slate Studio helps the world’s top companies build amazing apps, products, and services.

.about-info
  .about-summary
    %h3 Who We Are
    %h2 We build digital products people enjoy using.
    %p We build business-critical web, mobile and TV/OTT applications to accelerate growth and innovation for our clients and partners. We function as a direct extension of your team to solve your most complex software challenges.

.about-photos
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/about-photo1.jpg"}
    .overlay
    .copy

.about-focus
  %h3 Our Focus
  %h2 Lorem ipsum dolor sit amet, consectetuer adipiscin.
  .cards
    .card
      .card-header
        Video &amp; Content Delivery
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
        %a{:href => "/casestudy"} Supporting Link to Case Study (Campaign Landing Page in v2)
    .card
      .card-header
        Business Productivity &amp; Sales Enablement
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
        %a{:href => "/casestudy"} Supporting Link to Case Study (Campaign Landing Page in v2)
    .card
      .card-header
        Well-Funded Startups
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
        %a{:href => "/casestudy"} Supporting Link to Case Study (Campaign Landing Page in v2)

.about-clients
  %h2 Our Clients
  %ul
    %li
      %img{:alt => "", :src => "/assets/images/client-hbo.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-lionsgate.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-oracle.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-hp.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-kik.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-fusion.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-tribeca.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-machinima.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-topfan.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-starz.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-appannie.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-marketshare.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-sony.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-wta.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-dunnedwards.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-youtube.png"}

.about-photos
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/about-photo2.jpg"}
    .overlay
    .copy

.about-leadership
  %h3 Our Leadership
  %h2 What makes us great? Our people.
  %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec pelle.
  .cards
    .card
      .card-image
        %img{:alt => "", :src => "/assets/images/leadership-christophe.jpg"}
      .card-header
        Christophe Lindstrom
      .card-copy
        %p Chief Executive Officer, Co-Founder
        %a{:href => "/casestudy"} Supporting Link to Bio (in v2)
    .card
      .card-image
        %img{:alt => "", :src => "/assets/images/leadership-ryan.jpg"}
      .card-header
        Ryan Webster
      .card-copy
        %p Chief Creative Officer, Co-Founder
        %a{:href => "/casestudy"} Supporting Link to Bio (in v2)
    .card
      .card-image
        %img{:alt => "", :src => "/assets/images/leadership-ethan.jpg"}
      .card-header
        Ethan Grey
      .card-copy
        %p Chief Strategy Officer
        %a{:href => "/casestudy"} Supporting Link to Bio (in v2)
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .card-header
        Jason Cross
      .card-copy
        %p Chief Technology Officer
        %a{:href => "/casestudy"} Supporting Link to Bio (in v2)
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png"}
      .card-header
        Carl Light
      .card-copy
        %p Director of Product Management
        %a{:href => "/casestudy"} Supporting Link to Bio (in v2)
    .card
      .card-image
        %img{:alt => "", :src => "/assets/images/leadership-alex.jpg"}
      .card-header
        Alex Kravets
      .card-copy
        %p Director of Research &amp; Development
        %a{:href => "/casestudy"} Supporting Link to Bio (in v2)
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}
      .card-header
        Gabe Abadilla
      .card-copy
        %p Art Director
        %a{:href => "/casestudy"} Supporting Link to Bio (in v2)
    .card.hide

.about-info
  .about-summary.location
    %h3 Location
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscin
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec pelle.
  .side-image
    .images-wrapper
      #map_canvas
    .side-image-content
      %h3 Address
      %h1 Slate Studio
      %p
        67 N Venice Blvd
        %br
        Venice, CA 90291
        %br
        hello@slatestudio.com
        %br
        310.598.1502

.about-photos
  %h3.center Instagram
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/instagram.jpg"}
