---
title: Slate Studio - Case Study
---

.casestudy-intro
  .static-copy
    .bottom-copy
      .logo-placeholder
      %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      %p.tags
        %a Case Studies
        %span /
        %a Ipsum Dolor
        %span /
        %a Sit Amet
  .casestudy-hero.slider1
    // Case Study
    .image-gradient-dynamic
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
    // Case Study
    .image-gradient-dynamic
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png"}
        .overlay
    // Case Study
    .image-gradient-dynamic
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}
        .overlay

.casestudy-info
  .casestudy-summary
    %h3 About
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscin
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pelle.

.casestudy-product.slider2
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png"}
      .overlay

.casestudy-info
  .casestudy-challenge
    %h3 Challenge
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscin
    %ul
      %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li Aenean commodo ligula eget dolor. Aenean massa.
      %li Cum sociis natoque penatibus et magnis dis parturient.
  .casestudy-role
    %h3 Role
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscin
    %ul
      %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li Aenean commodo ligula eget dolor. Aenean massa.
      %li Cum sociis natoque penatibus et magnis dis parturient.

.casestudy-product.slider2
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
  // Case Study
  .image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png"}
      .overlay

.casestudy-info
  .casestudy-summary
    %h3 Solution
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscin
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pelle.

.casestudy-stat
  // Stats
  .image-gradient-dynamic
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .copy
        %h2 Stat lorem ipsum dolor sit amet, consectetuer adipiscing

.casestudy-latest
  %h2 Related Case Studies
  .cards
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .card-header
        Case Study 1
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}
      .card-header
        Case Study 2
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}
      .card-header
        Case Study 3
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.