---
title: Slate Studio - Contact Us
---

.contact-intro
  // Hero
  .image-gradient-dynamic
    %img{:alt => "", :src => "/assets/images/contact-hero.jpg"}
    .overlay
    .copy
      %h3 Contact Us
      %h1 Connect with our team, we’d love to chat.

.contact-info
  .contact-summary
    %h3 Work With Us
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscin
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pelle.

.contact-methods
  .cards
    .card
      .card-header
        Business Inquiries
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        %a{:href => ""} hello@slatestudio.com
    .card
      .card-header
        Events
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        %a{:href => ""} events@slatestudio.com
    .card
      .card-header
        Support / Issues
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        %a{:href => ""} support@slatestudio.com

.contact-info
  .side-image
    .side-image-content
      %h3 Careers
      %h2 Lorem ipsum dolor sit amet, consectetuer adipiscin
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pelle.
      %a{:href => ""} Career Opportunities
    .images-wrapper
      .image-gradient-dynamic
        %img{:alt => "", :src => "/assets/images/contact-career_photo.jpg"}
        .copy

.contact-info
  .side-image
    .images-wrapper
      #map_canvas
    .side-image-content.contact-address
      %h3 Address
      %h1 Slate Studio
      %p
        67 N Venice Blvd
        %br
        Venice, CA 90291
      %p 310.598.1502
      %p M-F 9am-6pm
