---
title: Slate Studio
---

.home-hero
  .image-gradient-dynamic
    %img{:alt => "", :src => "/assets/images/home-hero.jpg"}
      .overlay
      .copy
        %h1 We build multi-platform digital products
        %a.button-primary View Our Work 

.home-clients
  %h2 Our Clients
  %ul
    %li
      %img{:alt => "", :src => "/assets/images/client-hbo.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-lionsgate.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-oracle.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-hp.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-kik.png"}
    %li
      %img{:alt => "", :src => "/assets/images/client-fusion.png"}

.home-features

  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/case_image-tsl.jpg"}
    .overlay
    .bottom-copy
      .logo
        %img{:alt => "", :src => "/assets/images/case_logo-tsl.png"}
      %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      %p.tags
        %span Case Studies
        %span /
        %span Ipsum Dolor
        %span /
        %span Sit Amet

  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/case_image-hbo.jpg"}
    .overlay
    .bottom-copy
      .logo
        %img{:alt => "", :src => "/assets/images/case_logo-hbo.png"}
      %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      %p.tags
        %span Case Studies
        %span /
        %span Ipsum Dolor
        %span /
        %span Sit Amet

  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/home-event.jpg"}
    .overlay
    .bottom-copy
      %p May 30, 2016
      %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      %p.tags
        %span Case Studies
        %span /
        %span Ipsum Dolor
        %span /
        %span Sit Amet

.home-latest
  %h2 What's New
  .cards
    .card
      .card-image
        %img{:alt => "", :src => "/assets/images/home-blog.jpg"}
      .card-header
        Blog
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card
      .card-image
        %img{:alt => "", :src => "/assets/images/home-eventb.jpg"}
      .card-header
        Event
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card
      .card-image
        %img{:alt => "", :src => "/assets/images/home-product.jpg"}
      .card-header
        Internal Product
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.