---
title: Slate Studio
---

.home-hero
  .image-gradient-dynamic
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .copy
        %h1 We build multi-platform digital products
        %a.button-primary Our Work 

.home-clients
  %h2 Our Clients
  %ul
    %li
    %li
    %li
    %li
    %li
    %li

.home-features
  // Case Study
  .image-gradient-dynamic
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .bottom-copy
        .logo-placeholder
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %a Case Studies
          %span /
          %a Ipsum Dolor
          %span /
          %a Sit Amet
  // Case Study
  .image-gradient-dynamic
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .bottom-copy
        .logo-placeholder
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %a Case Studies
          %span /
          %a Ipsum Dolor
          %span /
          %a Sit Amet
  // Event
  .image-gradient-dynamic
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .bottom-copy
        %p May 30, 2016
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %a Events
          %span /
          %a Ipsum Dolor

.home-latest
  %h2 What's New
  .cards
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .card-header
        Blog
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}
      .card-header
        Event
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}
      .card-header
        Internal Product
      .card-copy
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.