---
title: Slate Studio - Our Work
---

.work-featured_casestudies
  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .bottom-copy
        .logo-placeholder
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %span Case Studies
          %span /
          %span Ipsum Dolor
          %span /
          %span Sit Amet
  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .bottom-copy
        .logo-placeholder
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %span Case Studies
          %span /
          %span Ipsum Dolor
          %span /
          %span Sit Amet
  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .bottom-copy
        .logo-placeholder
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %span Case Studies
          %span /
          %span Ipsum Dolor
          %span /
          %span Sit Amet
  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
      .overlay
      .bottom-copy
        .logo-placeholder
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %span Case Studies
          %span /
          %span Ipsum Dolor
          %span /
          %span Sit Amet

.work-secondary_casestudies
  .row
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
        .bottom-copy
          .logo-placeholder
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
        .bottom-copy
          .logo-placeholder
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
        .bottom-copy
          .logo-placeholder
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
        .bottom-copy
          .logo-placeholder
  .row
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
        .bottom-copy
          .logo-placeholder
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
        .bottom-copy
          .logo-placeholder
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
        .bottom-copy
          .logo-placeholder
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}
        .overlay
        .bottom-copy
          .logo-placeholder