---
title: Slate Studio - Our Work
---

.work-featured_casestudies

  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/case_image-tsl.jpg"}
      .overlay
      .bottom-copy
        .logo
          %img{:alt => "", :src => "/assets/images/case_logo-tsl.png"}
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %span Case Studies
          %span /
          %span Ipsum Dolor
          %span /
          %span Sit Amet

  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/case_image-hbo.jpg"}
      .overlay
      .bottom-copy
        .logo
          %img{:alt => "", :src => "/assets/images/case_logo-hbo.png"}
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %span Case Studies
          %span /
          %span Ipsum Dolor
          %span /
          %span Sit Amet

  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/case_image-de.jpg"}
      .overlay
      .bottom-copy
        .logo
          %img{:alt => "", :src => "/assets/images/case_logo-de.png"}
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %span Case Studies
          %span /
          %span Ipsum Dolor
          %span /
          %span Sit Amet

  // Case Study
  %a.image-gradient-dynamic{:href => "/casestudy"}
    %img{:alt => "", :src => "/assets/images/case_image-kik.jpg"}
      .overlay
      .bottom-copy
        .logo
          %img{:alt => "", :src => "/assets/images/case_logo-kik.png"}
        %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        %p.tags
          %span Case Studies
          %span /
          %span Ipsum Dolor
          %span /
          %span Sit Amet

.work-secondary_casestudies
  .row
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "/assets/images/case_image-befit.jpg"}
        .overlay
        .bottom-copy
          .logo
            %img{:alt => "", :src => "/assets/images/case_logo-befit.png"}
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "/assets/images/case_image-topfan.jpg"}
        .overlay
        .bottom-copy
          .logo
            %img{:alt => "", :src => "/assets/images/case_logo-topfan.png"}
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "/assets/images/case_image-swappedseat.jpg"}
        .overlay
        .bottom-copy
          .logo
            %img{:alt => "", :src => "/assets/images/case_logo-swappedseat.png"}
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "/assets/images/case_image-machinima.jpg"}
        .overlay
        .bottom-copy
          .logo
            %img{:alt => "", :src => "/assets/images/case_logo-machinima.png"}
  .row
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "/assets/images/case_image-fusion.jpg"}
        .overlay
        .bottom-copy
          .logo
            %img{:alt => "", :src => "/assets/images/case_logo-fusion.png"}
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "/assets/images/case_image-marketshare.jpg"}
        .overlay
        .bottom-copy
          .logo
            %img{:alt => "", :src => "/assets/images/case_logo-marketshare.png"}
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "/assets/images/case_image-summit.jpg"}
        .overlay
        .bottom-copy
          .logo
            %img{:alt => "", :src => "/assets/images/case_logo-summit.png"}
    // Case Study
    %a.image-gradient-dynamic{:href => "/casestudy"}
      %img{:alt => "", :src => "/assets/images/case_image-oracle.jpg"}
        .overlay
        .bottom-copy
          .logo
            %img{:alt => "", :src => "/assets/images/case_logo-oracle.png"}